<div class="form-content">
    <div>

        <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="start()">
            <div class="content-control">
                <p class="form-content-title">
                    Descubre lo que tenemos pensado <span>Para Ti</span>
                </p>
                <div class="row form-group form-input">
                    <div class="col-6">
                        <select
                            class="form-select"
                            aria-label="Default select example"
                            formControlName="tipodocumento"
                        >
                            <option value="1" selected>DNI</option>
                            <option value="2">Carnet de extranjeria</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Número"
                            formControlName="numerodocumento"
                            [class.is-invalid]="documentoNoValido"
                        />
                        <small
                            *ngIf="documentoNoValido"
                            class="form-text text-danger"
                        >
                            Ingrese el número de su documento
                        </small>
                    </div>
                </div>
                <div class="row form-group form-input">
                    <div>
                        <input
                            class="form-control"
                            type="email"
                            placeholder="Correo electrónico"
                            formControlName="correo"
                            [class.is-invalid]="correoNoValido"
                        />
                        <small *ngIf="correoNoValido" class="form-text text-danger">
                            Ingrese un correo valido
                        </small>
                    </div>
                </div>
                <div class="row form-group form-input">
                    <div>
                        <input
                            type=""
                            class="form-control"
                            placeholder="Número de celular"
                            formControlName="phone"
                            [class.is-invalid]="phoneNoValido"
                        />
                        <small *ngIf="phoneNoValido" class="form-text text-danger">
                            Ingrese un número valido
                        </small>
                    </div>
                </div>
            </div>
            <div class="content-checkbox">
                <div class="form-check">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefaultFirst"
                        formControlName="conditionFirst"
                    />
                    <label class="form-check-label" for="flexCheckDefaultFirst">
                        He leído y acepto los términos y condiciones. <a>Ver aquí</a>
                    </label>
                </div>
                <div class="form-check">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefaultSecond"
                        formControlName="conditionSecond"
                    />
                    <label class="form-check-label" for="flexCheckDefaultSecond">
                        He leído y acepto el uso del tratamiento de mis datos
                        personales. <a>Ver aquí</a>
                    </label>
                </div>
            </div>
            <div class="content-buttton form-group row">
                <label class=" col-form-label">&nbsp;</label>
                <div class="">
                    <button
                        type="submit"
                        class="btn btn-block"
                        [disabled]="!formulario.valid"
                    >
                    Comencemos
                    </button>
                </div>
            </div>
            <div class="content-acordion">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Términos y condiciones
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        La conectividad de BanBif APP depende del operador móvil del usuario, no siendo responsabilidad de BANBIF. El acceso
                        al APP generará consumo de datos móviles del usuario. Información sobre los costos de nuestros productos o
                        servicios disponibles en las oficinas de atención al público, a traves del tarifario y en nuestra página
                        web w w w . b a n b i f . c o m . pe
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Tratamiento de datos personales
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        La conectividad de BanBif APP depende del operador móvil del usuario, no siendo responsabilidad de BANBIF. El acceso
                        al APP generará consumo de datos móviles del usuario. Información sobre los costos de nuestros productos o
                        servicios disponibles en las oficinas de atención al público, a traves del tarifario y en nuestra página
                        web w w w . b a n b i f . c o m . pe
                      </div>
                    </div>
                  </div>
            </div>
        </form>
    </div>
</div>
