<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 infomation">
            <div class="infomation-container">
                <div class="infomation-logo">
                    <img src="./assets/img/banbif_logo.png" alt="banbif logo" />
                </div>
                <h1 class="infomation-title">
                    <span class="font-first">Solicita tu </span> <br />
                    <span class="font-second">Tarjeta de Crédito</span> <br />
                    <span class="font-third">y obtén </span>
                    <span class="font-fourth">S/ 400 </span>
                    <span class="font-fifth">en puntos</span>
                </h1>
                <div class="box">
                    <div class="box-img-avatar">
                        <img src="./assets/img/banbif_avatar.png" alt="" />
                    </div>
                    <div class="box-content">
                        <div class="box-container">
                            <div class="box-first">
                                <div>
                                    <p>S/ 200</p>
                                    <p>En Puntos BanBif</p>
                                </div>
                            </div>
                            <div class="box-img">
                                <img
                                    src="./assets/img/banbif_more.png"
                                    alt="banbif more"
                                />
                            </div>
                            <div class="box-second">
                                <div>
                                    <p>S/ 200</p>
                                    <p>En efectivo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <app-form></app-form>
        </div>
    </div>
</div>
